.App {
  margin: 30px;
}

.minimize-button {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 20px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.chat-box{
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensures space is distributed between elements */
  position: absolute;
  padding: 9px;
  width: 50%;
  height: calc(100vh - 60px);
  background-image:
    url('../assets/background_area_light.png');
  background-repeat: repeat; /* this is the tiling */
  border: 1px solid #EFB16A;
  border-radius: 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.messages-container{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 1px solid #EFB16A;
  padding: 10px;

  &::-webkit-scrollbar {
    width: 10px;
    background-color: none;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: rgba(233, 233, 233, 0.2);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
}

.message{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  max-width: 100%;
  word-wrap: break-word;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  color: lightgray;
}

.chat-controls-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30%;
  margin-top: 1%;
  
}

.buttons-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90px;
  height: 100%;
  margin-left: 10px;
}

.chat-input{
  width: 100%;
  height: 100%;
  resize: none;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: rgb(209, 209, 209);
  border: 1px solid #EFB16A;
  border-radius: 10px;
  font-family: Gitan;
  font-size: 1rem;
  box-sizing: border-box;
  transition: border-color 0.3s;
  cursor: url('../assets/cursor.png'), none;

  &:focus{
    outline: none;
  }
  
  &::-webkit-scrollbar{
    width: 10px;
  }

  &::-webkit-scrollbar-thumb{
    background-color: rgba(233, 233, 233, 0.2);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
}

button{
  background-image: 
    radial-gradient(circle, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)),
    url('../assets/button.png');
  background-color: black;
  background-size: 100% 100%;
  border: 1px solid #EFB16A;
  color: rgb(209, 209, 209);
  border-radius: 10px;
  cursor: url('../assets/cursor.png'), auto;
  width: 90px;
  height: 90px;

  &:hover{
    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color 0.1s ease-in;
  }

  &:active{
    background-image: 
      radial-gradient(circle, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.2)),
      url('../assets/button.png');
  }
}